@import './ChatView.scss';
@import './ChatForm.scss';
@import './ChatViewList.scss';

.chatPage-container {
  padding: 0px 0px;
  // padding-top: 110px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  margin-top: -20px;
  position: relative;
}

.chatPage-notifi-container {
  width: 320px;
  height: 320px;

  .chatPage-spinner {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .chatPage-container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    margin-top: -10px;
  }

  .chatPage-not-signin-text {

  }

}

@media screen and (max-width: 320px) {
  .chatPage-container {
    padding: 0px 0px;
  }
  .chatPage-notifi-container {
    width: 300px;
    height: 300px;
  }
}
