.forgetPassword-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-sizing: content-box;
  flex-direction: column;
}

.forgetPassword-btn {
  margin-top: 20px;
}

.forgetPasswordForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 200px;
  position: relative;
}

.forgetPassword-text-field {
  width: 100%;
}

.forgetPassword-mask {
  z-index: 1005;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .6);
  // background: radial-gradient(#C8C8C8, #D8D8D8, #F0F0F0);
  // opacity: .7;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.forgetPassword-mask-hide {
  display: none;
}


.forgetPassword-sent {
  background-color: white;
  z-index: 1000;
  width: 280px;
  height: 200px;
  box-shadow: 0px 2px 3px 1px rgba(0 ,0 ,0 , 0.2);
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: inherit;
  left: inherit;
}
.forgetPassword-sent-hide {
  display: none;
}
