.resetPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.resetPasswordForm {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.resetPasswordForm-password {
  width: 100%
}

.resetPasswordForm-button-group {
  margin-top: 20px;
}
