.userLinks-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  &:hover {
    cursor: pointer;
  }
}

.userLinks-avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.userLinks-menu-div {
  border: 1px solid red;
  position: relative;
}

.userLinks-menu {
  position: absolute;
  right: 10px;
  top: 30px;
}
