.emailVerified-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailVerified-notification {
  width: 320px;
  height: 200px;
  position: relative;
}
