.updateField-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.updateField-textField {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
}

.updateField-button-group {
  margin: 26px 0px 0px 10px;
  display: flex;
  flex-direction: row;

  .updateField-cancel {
    margin: 2px;
  }

  .updateField-update {
    margin: 2px;
  }
}

.updateField-button-group-hide {
  display: none;
}


@media screen and (max-width: 700px) {
  
}
