.updateInfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateInfo-form {
  position: relative;
  width: 300px;
}


.updateInfo-field {

}

.updateInfo-button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.updateInfo-update-btn {

}
